/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}


body {
    font-family: sans-serif;
    color: #000;
    background: #333;
}

section {
    max-width: 600px;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
    margin: auto;
    display: flex;
    align-items: center;
}

header {
    background: #333;
    color:#fff;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 40px;
    font-size: 150%;
    text-transform: uppercase;
}

article {
  padding: 20px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

footer {
    background: #333;
    color:#fff;
    padding: 10px;
}

.text {
    padding: 30px;
    margin: 0px;
    line-height: 20px;
  }


#cougar {
    background: #FFBD82;
      flex: 1 1 0;
}

#lion {
    background: #B26219;
    color: #fff;
    flex: 1 1 0;
}

#tiger {
    background: #FFD5AE;
      flex: 1 1 0;
}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #B26219;
}

a:hover {
    color: #995516;
}

header a {
  color: #FFBD82;
  text-decoration: none;
}

header a:hover {
      color: #FFD5AE;
}

#lion a {
  color: #FFBD82;
}

#lion a:hover {
    color: #FF9E49;
}
